In [8]:
import pandas as pd
from pathlib import Path

data = 'dataset/kaggleDataset'

paths = [path.parts[-2:] for path in
         Path(data).rglob('*.*')]                             #writing purpose ('*.*') so that all image formats can be retrieved
df = pd.DataFrame(data=paths, columns=['Class','Images'])     #create column names for dataframe
df = df.sort_values('Class',ascending=True)                   #sort class name
df.reset_index(drop=True, inplace=True)                       #sort index of each row
df

                Class          Images
0            1_normal      NL_011.png
1            1_normal      NL_040.png
2            1_normal      NL_118.png
3            1_normal      NL_032.png
4            1_normal      NL_116.png
..                ...             ...
596  4_retina_disease  Retina_013.png
597  4_retina_disease  Retina_014.png
598  4_retina_disease  Retina_068.png
599  4_retina_disease  Retina_039.png
600  4_retina_disease  Retina_018.png

[601 rows x 2 columns]

In [9]:
print('Count the number of image datasets')
print("Image Count : {}".format(len(df.Images)))
print("Class Count : {} \n".format(len(df['Class'].value_counts())))
print('Count the number of images in each class')
print(df['Class'].value_counts())

Count the number of image datasets
Image Count : 601
Class Count : 4

Count the number of images in each class
Class
1_normal            300
3_glaucoma          101
2_cataract          100
4_retina_disease    100
Name: count, dtype: int64